.comments {
  padding: 40px;
  border-top: $border;
  background-color: lighten($light-bg, 2);
  flex: 1;
}


.commentContainer {

  .comment {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    text-align: left;
    min-width: 40%;
    justify-content: flex-start;

    article {
      min-width: 80%;
      display: inline-block;
      background: rgba($color1, 0.2);
      padding: 12px;
      border-radius: 0 $border-radius $border-radius $border-radius;
      box-shadow: 0px 2px 5px rgba(darken($light-bg, 20), 0.8);

      p {
        padding: 0;
      }

      .author {
        display: block;
        font-style: italic;
        font-size: ms(-1);
        margin-top: 1.2em;
      }

    }

    &:nth-of-type(2n) {
      text-align: right;
      justify-content: flex-end;
      article {
        text-align: right;
        background: $light-bg;
        border-radius: $border-radius 0 $border-radius $border-radius;
      }
    }

  }

}

.addComment {
  font-size: ms(1);

  #addComment {
    margin-top: 40px;
    text-align: right;
   
    .textAreaContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;

      #comment {
        font-size: ms(0);
        display: block;
        flex: 5;
        border-radius: $border-radius;
        margin-bottom: 10px;
        border: $border;
        padding: 18px;

        &:focus {
          outline: none;
        }
      }

    }

    #commentSubmit {
      margin-top: 10px;
    }

  }
}