@import 'modularscale';


$modularscale: (
  base: 1em,
  ratio: 1.25
);
  
// fonts 
h1 {
  font-family: $header-font;
  font-size: ms(3);
  line-height: 1.5em;
}

h2 {
  font-family: $header-font;
  font-size: ms(2);
  line-height: 1.2em;
}

h3 {
  font-family: $header-font;
  font-size: ms(1);
}

body {
  font-family: $main-font;
  font-size: ms(0);
  line-height: 1.6em;
  color: $font-color;
}

.smallFont {
  font-size: ms(-1);
  color: lighten($font-color, 25);
}


// links
a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus {
  color: $font-color;
}

a:visited {
  color: $font-color;
}

