.loginContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  background-color: $color2;
  justify-content: center;
  align-items: center;
  padding: 5vh 5vw;


  .formContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 5vh 5vw;
    max-width: 500px;
    min-width: 300px;
    background: white;
    border-radius: $border-radius;

    .logo {
      color: $color1;
      font-size: ms(4);
      text-align: center;
      padding-bottom: 20px;
      border-bottom: $border;
      margin-bottom: 20px;
    }

    form {
      margin: 1em 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;

      input {
        flex: 1;
        border: $border;
        border-radius: $border-radius;
        font-size: ms(2);
        padding: .2em .5em;
        margin-bottom: .5em;
      }

      button {
        margin-top: 1em;
      }
    }

    .signupLink {
      flex: 0;
      align-self: flex-start;
    }

  }

}