.modalContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  background: rgba(white, 0.9);
  display: none;
  justify-content: center;
  align-items: flex-start;

  &.active {
    display: flex;
  }

  .modalWindow {
    margin-top: 10vh;
    flex: 1;
    max-width: 700px;
    border-radius: $border-radius;
    background: white;
    box-shadow: 0px 10px 40px rgba(black, 0.4);
    padding: 40px;
  }

}

.createProjectContainer {
  justify-content: flex-start;

  form {
    display: flex;
    flex-direction: column;


    input, textarea {
      padding: 12px;
      border: $border;
      flex: 1;
      border-radius: $border-radius;
      font-size: ms(1);
    }

    select {
      max-width: 300px;
      padding: 12px;
      font-size: ms(0);

      option {
        text-transform: capitalize;
      }

    }

    textarea {
      font-size: ms(0);
    }

    label {
      padding-top: 1em;
      font-size: ms(-1);
      font-weight: bold;
      display: block;
    }

    .buttons {
      padding-top: 20px;
      display: flex;
      justify-content: space-between;
    }

    button {
      max-width: 300px;
    }
  }
 
}