.project {
  flex: 1;
  display: flex;
  flex-direction: column;

  h1 {
    padding: 20px 20px 10px 20px;
    border-bottom: $border;
  }

  .taskContainer {
    flex: 1;
    display: flex;

  }

}

.taskList {
  flex: 1;
  max-width: 460px;
  min-width: 260px;
  border-right: $border;
  background-color: $light-bg;

  ul li {
    padding: 14px;
  }

}



.taskDetailsContainer {
  flex: 2;
  padding: 40px;
  
  article {
    h2 {
      margin-bottom: 10px;
    }

    .taskDetails {
      @extend .smallFont;
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

  }
  
}