
.projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flext-start;
  padding: 20px 0;

  .projectCardContainer {
    width: calc(30% - 10px);
    min-width: 300px;
    margin: 20px;
    position: relative;
  }
}

.cardContent {
  text-align: center;
  display: block;
  background: white;
  border-radius: $border-radius;
  width: 100%;
  box-shadow: 0px 1px 4px rgba(black, 0.1);
  transform: scale(1);
  transition: transform 0.25s ease, box-shadow 0.25s ease;

  h3 {
    padding: 1.25em 20px 0.75em 20px;
    border-bottom: $border;
  }

  .cardDetails {
    padding: 20px;

    h4 {
      padding: 0.6em;
    }
  }

  .cardProgress {
    padding: 20px;

    .progressBar {
      height: 16px;
      background: rgba($color1, 0.3);
      border-radius: 8px;
      position: relative;
      overflow: hidden;

      .progress {
        position: absolute;
        left: 0;
        top: 0;
        height: 16px;
        border-radius: 8px;
        background: $color1;
        box-shadow: 0px 0px 8px rgba($gray, 1);
      }

    }

  }

  &:hover {
    transform: scale(1.02);
    box-shadow: 0px 4px 8px rgba(black, 0.3);

    h3 {
      background: rgba($color1, 0.1);
      color: $color2;
    }
  }
}
