.project {
  flex: 1;
  display: flex;
  flex-direction: column;

  h1 {
    padding: 20px 20px 10px 20px;
    border-bottom: $border;
    position: relative;

    i {
      color: $gray;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }

  }

}

.taskContainer {
  flex: 1;
  display: flex;

  .taskList {
    flex: 1;
    max-width: 460px;
    min-width: 260px;
    border-right: $border;
    background-color: $light-bg;
  
    .taskLink {
      padding: 20px;
      border-bottom: $border;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &.active {
        padding: 20px 14px 20px 20px;
        color: $color2;
        background-color: rgba($color1, 0.1);
        border-right: solid 6px $color1;
      }

      .notStarted {
        display: block;
        background: $not-started;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        box-shadow: 0px 1px 1px darken($light-bg, 30);
      }

      .inProgress {
        @extend .notStarted;
        background: $in-progress;
      }

      .complete {
        @extend .notStarted;
        background: $complete;
      }

      &:hover {
        background-color: lighten($light-bg, 3);
        color: $color2;
      }

    }

    button {
      margin: 20px;
    }
  
  }

}

.taskDetailsContainer {
  flex: 2;
  display: flex;
  flex-direction: column;

  .taskTitle {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: $border;
  }
  
  article {

    h2 {
      margin-bottom: 10px;
    }

    .taskDetails {
      padding: 20px;
      align-items: center;
      border-bottom: $border;
      display: flex;
      justify-content: space-between;
    }

    p {
      padding: 20px;
    }

  }

  .projectOwner {
    padding: 40px 0 20px 0;
  }

  .projectDescription {
    padding: .5em 0 3em 0;
    color: $gray;
  }

  .projectAdminButtons {
    display: flex;
    justify-content: flex-start;

    button {
      margin-right: 30px;
    }

  }
  
}

.projectArticle {
  padding: 40px;
}