
#sidebarNav {
  width: 20vw;
  min-width: 240px;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: $sidebar-bg;
  color: $sidebar-text;

  .logoContainer {
    height: $top-bar-height;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $sidebar-text;

    a {
      color: white;
    }
  }

  .navLinks {

    li {
      display: flex;
      justify-content: stretch;

      a {
        flex: 1;
        display: block;
        padding: 20px;
        color: $sidebar-text;
      }

      &.active {
        background-color: $sidebar-active;
        color: $sidebar-text-active;
      }

      &:hover {
        background-color: rgba($color1, 0.4);
      }
    }

  }

}

.userInfo {
  padding: 20px;
  margin-top: auto;
  //border-top: solid 1px darken($sidebar-bg, 20);
  background-color: darken($sidebar-bg, 5);

  .userName {
    display: flex;
    align-items: center;
    justify-content: center;

    .userIcon {
      flex-grow: 0;
      flex-shrink: 0;
      display: flex;
      background: $in-trouble;
      font-size: .5em;
      letter-spacing: 1px;
      text-align: center;
      width: 3em;
      height: 3em;
      color: white;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin-right: 1em;
    }
  

  }

  .userControls {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    #logOut {
      background: none;
      border: none;
      color: lighten($sidebar-bg, 20);
    }

  }

  
}