
#sidebarNav {
  width: 20vw;
  min-width: 240px;
  align-self: stretch;
  border-right: $border;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .logoContainer {
    height: $top-bar-height;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navLinks {

    li {
      padding: 20px;

      &.active {
        background-color: $color1;
        color: white;
      }
    }


  }


}

.userInfo {
  padding: 20px;
  margin-top: auto;
  border-top: $border;

  .userName {
    display: flex;
    align-items: center;
    justify-content: center;

    .userIcon {
      flex-grow: 0;
      flex-shrink: 0;
      display: flex;
      background: black;
      font-size: .7em;
      text-align: center;
      width: 3em;
      height: 3em;
      color: white;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }

    h3 {
      padding: 10px;
    }

  }

  .userControls {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
}