.subnav {
  height: $top-bar-height;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  border-bottom: $border;

  a {
    display: block;
    padding: .25em .75em;
    background-color: $light-bg;
    border-radius: 8px;


    i {
      font-size: 1.2em;
      margin-right: .75em;
    }
  }

 

}