

<div class="comments">

  <div class="commentContainer">
       
    <div class="comment">
      <article>
        <p>Here is a comment!</p>
        <span class="author">Author<span>
      </article>
    </div>

    <div class="comment">
      <article>
        <p>and another comment!</p>
        <span class="author">Author<span>
      </article>
    </div>

  </div>

  <div class="addComment">
    <form id="addComment">
      <div class="textAreaContainer">
        <textarea id="comment"></textarea>
      </div>
      <button id="commentSubmit" class="button-blue-small">Add Comment</button>
    </form>
  </div>
  

</div>