<div class="comments">

  <div class="commentContainer">
    {{#each project.Comment}}
    <div class="comment">
      <article>
        <p>{{this.comment}}</p>
        <span class="author">{{this.UserId}}<span>
      </article>
    </div>
    {{/each}}
  </div>

  <div class="addComment">
    <form id="addComment">
      <div class="textAreaContainer">
        <textarea id="comment"></textarea>
      </div>
      <button id="commentSubmit" class="button-blue-small">Add Comment</button>
    </form>
  </div>


</div>