
<div class="comments">
  <div class="commentContainer">
    {{#each this.activeTask.Comments}}
    <div class="comment">
      <article>
        <p>{{comment}}</p>
        <span class="author"> - {{getUserName ../users UserId}}<span>
      </article>
    </div>
    {{/each}}
  </div>

  <div class="addComment">
    <form id="addComment">
      <div class="textAreaContainer">
        <textarea id="comment"></textarea>
      </div>
      <button
        id="commentSubmit"
        data-user-id={{this.user.id}}
        data-task-id={{this.activeTask.id}}
        class="button-blue-small">
        Add Comment
      </button>
    </form>
  </div>


</div>