

<div class="subnav {{#unless this.isAdmin}}leftAlign{{/unless}}">
  {{#if this.isAdmin}}
    <button class="button-gray-light createProject"><i class="fas fa-plus-circle"></i>Create Project</button>
  {{/if}}
  <button class="button-gray-light notifications" id="notification"><i class="fas fa-bell"></i>Notifications

</button>
</div>

