{{#if loggedIn}}

  {{> sidebar/sidebar isAdmin=isAdmin user=user}}

  <div>
    <div class="subnav">
      <button>Cancel</button>
    </div>
    <div>
      <h1>Create a Project</h1>
      <form>
        <label>Project Name</label>
        <input type="text">

        <label>Project Owner</label>
        <select>
          <option>-----</option>
        </select>

        <label>Start Date</label>
        <label>Finish Date</label>

        <label>Description</label>
        <textarea></textarea>

       
       <button id="createProject">Create Project</button>

      </form>
    </div>
  </div>
  

{{else}}

  Log in stuff...

{{/if}}
