{{#if loggedIn}}

  {{> sidebar/sidebar isAdmin=isAdmin user=user}}


  <div class="contentContainer">
    
    {{#if isAdmin}}
      <div class="subnav">
        <a href="/project/new">Create project</a>
        <a href="/team/new">Add team member</a>
      </div>
      
      <div class="content">
        <h2>My Tasks</h2>
        <ul>
          <li class="classLink"></li>
        </ul>
      </div>


    {{else}}
      <div class="subnav">
        <button>Create project</button>
        <button>Add team member</button>
      </div>
      <div class="content">
        <h2>My Tasks</h2>
        <ul>
          <li class="classLink"></li>
        </ul>
      </div>

    {{/if}}

  </div>

{{else}}

  Log in stuff...

{{/if}}
  