
  {{> sidebar/sidebar isAdmin=isAdmin user=user }}

  <div class="pageContentContainer">
    {{> subnav this}}
    
    <div class="cardsContainer">
      <h2>Projects</h2>
      <ul class="projects">
        {{#each projects}}
          <li class="projectCardContainer">
            {{> project/project-card this}}
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
