{{#if loggedIn}}

  {{> sidebar/sidebar isAdmin=isAdmin user=user }}


  <div class="pageContentContainer">

    {{> subnav this}}   
     
      <div class="content">
        <h2>My Tasks</h2>
        <ul>
          <li class="classLink"></li>
        </ul>
      </div>


  </div>

{{else}}

  Log in stuff...

{{/if}}
  