
{{#if loggedIn}}


  {{> sidebar/sidebar active=projects }}

  <div class="pageContentContainer">
    
    {{> subnav this}}   
    
    <div class="project">
      <h1>{{projectTitle}}</h1>
      <div class="taskContainer">
        <div class="taskList">
          <ul>
            {{#each projectTasks}}
              {{> project/project-list-item this}}
            {{/each}}
          </ul>
          <button class="createTask"><i class="fas fa-thumbtack"></i>Add a Task</button>
        </div>

        <div class="taskDetailsContainer">
          <div class="task">
            <article>
              <h2>Task 1</h2>
              <div class="taskDetails">
                <span>Due Date</span>
                {{> status-select}}
              </div>
            
              <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
            </article>
           
          </div>

          {{> comment/comments }}
       
        </div>
      </div>
    </div>
    
  </div>

  {{> project/create-task }}

{{else}}

  Log in stuff...

{{/if}}