{{#if loggedIn}}

  {{> sidebar/sidebar isAdmin=isAdmin projNav=true}}

  <div class="pageContentContainer">
    {{> subnav this}}
    
    <div class="projectsContainer">
      <h2>Projects</h2>
      <ul class="projects">
        {{#each projects}}
          <li class="projectCardContainer">
            {{> project/project-card this}}
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
  

{{else}}

  Log in stuff...

{{/if}}
