{{#if loggedIn}}

  {{> sidebar/sidebar isAdmin=isAdmin user=user}}

  <div class="pageContentContainer">
    <div class="subnav">
      {{#if isAdmin}}
        <a href="/project/new">Create project</a>
        <a href="/team/new">Add team member</a>
      {{else}}
        
      {{/if}}
      </div>
    <div class="projectsContainer">
      <h2>Projects</h2>
      <ul class="projects">
        {{#each projects}}
          <li class="projectCardContainer">
            {{> project/project-card this}}
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
  

{{else}}

  Log in stuff...

{{/if}}
