<div class="loginContainer signupPage">
  <div class="formContainer">
    <h1 class="logo">MNGR</h1>
    <h2>Sign Up!</h2>
    <form autocomplete="off" id="signup" method="post" action="/signup">
      <label for="firstname">First Name</label>
      <input type="text" name="firstname">

      <label for="lastname">Last Name</label>
      <input type="text" name="lastname">

      <label for="email">Email</label>
      <input type="email" name="email">

      <label for="password">Password</label>
      <input type="password" name="password">

      <input type="hidden" name="admin" value="1">

      <button class="button-blue" type="submit">Sign Up</button>
    </form>
    <a class="button-gray-small-light signupLink" href="/signin">Already a user? Log In</a>
  </div>
</div>