<div class="loginContainer">
  <div class="formContainer">
    <h1>Sign In</h1>
    <form id="signin" name="signin" method="post" action="/signin">
      <label for="email">Email</label>
      <input type="text" name="email">
      <label for="password">Password</label>
      <input type="password" name="password">
      <button id="login" class="button-blue" type="submit">Log In</button>
    </form>
    <a class="button-gray-small-light signupLink" href="/signup">Sign Up</a>
  </div>
</div>