
<div class="loginContainer">

  <form id="signin" name="signin" method="post" action="signin">
    <label>Username</label>
    <input type="text">
    <label>Password</label>
    <input type="password">
    <button id="login" class="button button-light-gray" type="submit">Log In</button>
    <a href="/signup">Sign Up</a>
  </form>

 

</div>