
<div class="loginContainer">

  <form id="signin" name="signin" method="post" action="/signin">
    <label for="email">Email</label>
    <input type="text" name="email">
    <label for="password">Password</label>
    <input type="password" name="password">
    <button id="login" class="button button-light-gray" type="submit">Log In</button>
    <a href="/signup">First time? Sign Up</a>
  </form>

 

</div>