


<div class="signupPage">

  <form autocomplete="off" id="signup" method="post" action="/signup">
    <label for="firstname">First Name</label>
    <input type="text" name="firstname">

    <label for="lastname">Last Name</label>
    <input type="text" name="lastname">

    <label for="email">Email</label>
    <input type="email" name="email">

    <label for="password">Password</label>
    <input type="password" name="password">

    <button class="button button-light-gray" type="submit">Log In</button>
  </form>

</div>


  