{{#if loggedIn}}

  {{> sidebar/sidebar isAdmin=isAdmin user=user}}

  <div>
    <div class="subnav">
      {{#if isAdmin}}
        <a href="/project/new">Create project</a>
        <a href="/team/new">Add team member</a>
      {{/if}}
    </div>

    <section>
      <h2>My Tasks</h2>
      <ul>
        <li class="classLink"></li>
      </ul>
    </section>
  </div>
  

{{else}}

  Log in stuff...

{{/if}}
  
