{{> sidebar/sidebar taskNav=true}}

<div class="pageContentContainer">

  {{> subnav this}}

  <div class="listContainer">
    <h2>My Tasks</h2>
    <ul>
      <li class="classLink"></li>
    </ul>
  </div>
</div>