{{#if loggedIn}}

  {{> sidebar/sidebar taskNav=true}}

  <div class="pageContentContainer">
    
    {{> subnav this}} 

    <section>
      <h2>My Tasks</h2>
      <ul>
        <li class="classLink"></li>
      </ul>
    </section>
  </div>
  

{{else}}

  Log in stuff...

{{/if}}
  
