{{#if loggedIn}}

  {{> sidebar/sidebar isAdmin=isAdmin user=user}}

  <section>
    <h2>My Tasks</h2>
    <ul>
      <li class="classLink"></li>
    </ul>
  </section>

{{else}}

  Log in stuff...

{{/if}}
  
