{{#if loggedIn}}

  {{> sidebar/sidebar teamNav=true }}

  <div class="pageContentContainer">
    {{> subnav this}}   

    <section>
      <h2>Team Members</h2>
      <ul>
        {{#each members}}
          <li>
            {{firstName}} {{lastName}}
          </li>
        {{/each}}
      </ul>
    </section>

  </div>
  

{{else}}

  Log in stuff...

{{/if}}
