{{> sidebar/sidebar teamNav=true }}

<div class="pageContentContainer">
  {{> subnav this}}

  <div class="listContainer">
    <h2>Team Members</h2>
    <button class="button-gray-small-light">
      <i class="fas fa-user"></i>
      Add a Team Member
    </button>
    <ul>
      {{#each users}}
      <li>
        {{user_first_name}} {{user_last_name}}
      </li>
      {{/each}}
    </ul>
  </div>

</div>