{{> sidebar/sidebar teamNav=true }}

<div class="pageContentContainer">
  {{> subnav this}}

  <div class="listContainer team">
    <h2>Team Members</h2>
    <a class="button-gray-small-light" href="/signup">Add a Team Member</a>
    <ul>
      {{#each users}}
      <li>
        <i class="fas fa-user"></i>
        <div class="userContent">
          <h3 class="name">{{user_first_name}} {{user_last_name}}</h3>
          <div class="email">{{formatEmail user_email}}</div>
        </div>
      </li>
      {{/each}}
    </ul>
    

  </div>


</div>