{{#if loggedIn}}

  {{> sidebar/sidebar isAdmin=isAdmin user=user}}

  <div>
    {{> subnav this}}   

    <section>
      <h2>Add a New Team Member</h2>
      <form>
        <label>First name</label>
        <input type="text">

        <label>Last name</label>
        <input type="text">

        <label>Email</label>
        <input type="email">

        <button>Add</button>

      </form>
    </section>

  </div>
  

{{else}}

  Log in stuff...

{{/if}}
