<div id="sidebarNav">
  <div class="logoContainer">
    <a href="/">Logo</a>
  </div>
  <ul class="navLinks">
    <li>
      <a href="/projects">Projects</a>
    </li>
    <li>
      <a href="/tasks">My Tasks</a>
    </li>
    {{#if isAdmin}}
      <li>
        <a href="/team">Team</a>
      </li>
    {{/if}}
  </ul>

  {{> sidebar/user-panel user=user }}

</div>