

<div class="userInfo">
  <div class="userName">
    <span class="userIcon">{{getFirstLetter user.firstName}}{{getFirstLetter user.lastName}}</span>
    <span>{{user.firstName}} {{user.lastName}}</span>
  </div>
  <div class="userControls">
    <a id="logOut" href="/logout">Log out</a>
  </div>
</div>