<div class="userInfo">
  <div class="userName">
    <span class="userIcon">
      {{getFirstLetter user.user_first_name}}{{getFirstLetter user.user_last_name}}
    </span>
    <span>{{user.user_first_name}} {{user.user_last_name}}</span>
  </div>
  <div class="userControls">
    <a id="logOut" href="/logout">Log out</a>
  </div>
</div>