<div class="modalContainer">

  <div class="modalWindow">
    <div class="createProjectContainer">
      <h1>Create a Project</h1>
      <form>
        <label>Project Name</label>
        <input type="text">

        <label>Project Owner</label>
        <select>
          <option>-----</option>
        </select>

        <div class="dates">
          <label>Start Date</label>
          <label>Finish Date</label>
        </div>

        <label>Description</label>
        <textarea></textarea>
        <div class="buttons">
          <button class="cancel">Cancel</button>
          <button class="submit submitProject">Create Project</button>
        </div>
      </form>
    </div>
  </div>

</div>