<div id="taskModal" class="modalContainer">

  <div class="modalWindow">
    <div class="createProjectContainer" data-project-id={{project.id}}>
      <h1>Add a Task</h1>
      <form>
        <label>Task Name</label>
        <input type="text" id="taskName">

        <label>Assignee</label>
        <select id="taskAssignee">
          <option value=""> --select-- </option>
          {{#each users}}
            <option value={{id}}>{{user_first_name}} {{user_last_name}}</option>
          {{/each}}
        </select>

        <div class="dates">
          <label>Start Date</label>
          <input type="date" id="taskStartDate">
          <label>Finish Date</label>
          <input type="date" id="taskFinishDate">
        </div>

        <label>Description</label>
        <textarea id=taskDescription></textarea>
        <div class="buttons">
          <button class="button-gray-small-light cancel">Cancel</button>
          <button class="button-blue submitTask">Create Task</button>
        </div>
      </form>
    </div>
  </div>

</div>