<li class="projectCardContainer">
  <a class="cardContent" href="/project">
    <h3>{{this.projectTitle}}</h3>
    <div class="cardDetails">
      <div>
        <h4>Estimated Completion Date</h4>
        <div>
          <h4>Assigned To</h4>
        </div>
      </div>
    </div>
    <div class="cardProgress">
      <div class="progressBar">
        <span class="progress" style="width: 30%"></span>
      </div>
    </div>
  </a>
</li>