/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 3.15733em; }

h2 {
  font-family: Helvetica, sans-serif;
  font-size: 2.36859em; }

h3 {
  font-family: Helvetica, sans-serif;
  font-size: 1.77689em; }

h4 {
  font-family: Helvetica, sans-serif;
  font-size: 1.333em; }

body {
  font-family: Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.6em; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

a:focus {
  color: black; }

a:visited {
  color: black; }

html, body {
  width: 100%;
  height: 100%; }

.container {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: row; }

.pageContentContainer {
  display: flex;
  flex-direction: column; }

.subnav {
  height: 80px;
  display: flex;
  padding: 20px;
  align-items: center;
  border-bottom: solid 1px gray; }

.project {
  flex: 1;
  display: flex;
  flex-direction: column; }
  .project h2 {
    padding: 20px;
    border-bottom: gray solid 1px; }
  .project .taskContainer {
    flex: 1;
    display: flex; }
    .project .taskContainer .taskList {
      flex: 1;
      border-right: solid 1px gray; }
      .project .taskContainer .taskList ul li {
        padding: 14px; }

.taskDetailsContainer {
  flex: 3; }
  .taskDetailsContainer .task article, .taskDetailsContainer .task .taskDetails {
    padding: 20px; }
  .taskDetailsContainer .comments {
    padding: 20px; }

#sidebarNav {
  width: 20vw;
  min-width: 240px;
  align-self: stretch;
  border-right: solid 1px gray;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }
  #sidebarNav .logoContainer {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center; }
  #sidebarNav .navLinks li {
    padding: 20px; }

.userInfo {
  padding: 20px;
  background: rgba(0, 0, 0, 0.1);
  margin-top: auto; }
  .userInfo .userName {
    display: flex;
    align-items: center;
    justify-content: center; }
    .userInfo .userName .userIcon {
      flex-grow: 0;
      flex-shrink: 0;
      display: flex;
      background: black;
      font-size: .7em;
      text-align: center;
      width: 3em;
      height: 3em;
      color: white;
      justify-content: center;
      align-items: center;
      border-radius: 50%; }
    .userInfo .userName h3 {
      padding: 10px; }
  .userInfo .userControls {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center; }
