

<form id="signUp">
  <label>First Name</label>
  <input type="text" id="firstName">

  <label>Last Name</label>
  <input type="text" id="lastName">

  <label>Email</label>
  <input type="email">

  <label>Password</label>
  <input type="password">

  <button id="createUser" class="button button-light-gray">Log In</button>
</form>
